html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

.jodit-react-container {
  width: 100% !important;
}

.jodit-status-bar {
  display: none !important;
}

.jodit-toolbar__box {
  border-radius: 14px 14px 0 0;
  -webkit-border-radius: 14px 14px 0 0;
  -moz-border-radius: 14px 14px 0 0;
  -ms-border-radius: 14px 14px 0 0;
  -o-border-radius: 14px 14px 0 0;
}

.jodit-workplace {
  border-radius: 0 0 14px 14px;
  -webkit-border-radius: 0 0 14px 14px;
  -moz-border-radius: 0 0 14px 14px;
  -ms-border-radius: 0 0 14px 14px;
  -o-border-radius: 0 0 14px 14px;
}

.gallery-image-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-image-container::after {
  content: "";
  flex-grow: 9999;
}
